/* Main Document style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 6.25%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  height: 100;
  font-size: 100%;
}

/* Main Webpage style */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgb(255, 197, 174);
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
  background-color: lightyellow;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgb(255, 197, 174);
}

/* Article Styling */

.art1 {
  display: flex;
  height: 60vh;
  width: 100vw;
  font-size: 30rem;
}

h1 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 30rem;
  color: rgb(255, 255, 255);
  background-color: burlywood;
  width: 60%;
  text-align: left;
  padding: 2%;
}

h2 {
  display: block;
  font-size: 30rem;
  color: rgb(255, 255, 255);
  box-shadow: rgb(255, 118, 64, 0.5);
}

p {
  padding: 2%;
  display: block;
  width: 40%;
  background-color: sandybrown;
  color: white;
  text-align: justify;
  font-size: 15rem;
}

/* Boxes Styling */

.container {
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20vh;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 20rem;
}

.container__C1,
.container__C2,
.container__C3,
.container__C4 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__C1 {
  background-color: rgb(255, 156, 121);
}
.container__C2 {
  background-color: rgb(255, 149, 110);
}
.container__C3 {
  background-color: rgb(255, 136, 93);
}
.container__C4 {
  background-color: rgb(255, 119, 70);
}
